>CM168937.1 Homo sapiens isolate HG02011 chromosome 21, whole genome shotgun sequence
TAACCCTAACCCTAACTACCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC
CCTAACCCTAACCCTAACCCTACACCCTAACCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCC
TAACCACCCTACCTAACCCTAACCCTAACCTAACCCTAACCCTAACCTAACCCTAACCCTAACCCTAACCCTAACCCTAA
CCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCACCCTAACCCTAACCCC
TAACCCTAACCCCTAACCCTAACCACCCTAACCCTAACCCTAACCCTAACCCTACCCTAACCCTAACCCTAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTACCCTAACCCTAACCCTAACCCTAACCCTAACCCTA
ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCACCCTAACCCTAACCCTAACCCAAACCCTAACCC
TACCCTACCCTAACCCTAACCCTAACCCTACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCCCTAACCCTAA
