>CM169062.1 Homo sapiens isolate HG01505 chromosome 21, whole genome shotgun sequence
AGTGAGATGGGTTTCGGGGTTCTATCATGTTGCCCACGCTGGTCTCGAACTCCTGTCCTCAAGCAATCCGCCTGCCTGCC
TCGGCCGCCCACACTGCTGCTATTACAGGCGTGAGACGCTGCGCCTGGCTCCTTCTACATTTGCCTGCCTGCCTGCCTGC
CTGCCTGCCTGCCTGCCTGCCTGCCTGCCTGCCTATCAATCGTCTTCTTTTTAGTACGGATGTGCTCTCGCTTTATTGTC
CATGCTCTGGGCACACGTGGTCTCTTTTCAAACTTCTATGATTATTATTATTGTAGGCGTCATCTCACGTGTCGAGGTGA
TCTCGAACTTTTAGGCTCCAGAGATCCTCCCGCATCGGCCTCCCGGAGTGCTGTGATGACACGCGTGGGCACGGTACGCT
CTGGTCGTGTTTGTCGTGGGTCGGTTCTTTCCGTTTTTAATACGGGGACTGCGAACGAAGAAAATTTCCAGACGCATCTC
ACCGATCCGCCTTTTCGTTCTTTCTTTTTATTCTCTTTAGACGGAGTTTCACTCTTGTCGCCCAGGGTGGAGTACGATGG
CGGCTCTCGGCTCACCGCACCCTCCGCCTCCCAGGTTCAAGTGATTCTCCTGCCTCAGCCTTCCCGAGTAGCTGGAATGA
CAGAGATGAGCCATCGTGCCCGGCTAATTTTTCTATTTTTACTACAGATGGGGTTTCTCCATCTTGGTCAGGCTGGTCTT
