>CM153442.1 Homo sapiens isolate HG01167 chromosome 21, whole genome shotgun sequence
TAACCCTAACCCTAACCCTAACTTTTTTTTTAACCCTAACCCGAACCTAACCCTACCCTAACCCTAACCCGAACCCTAAC
CCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCTAACCTAACCCTAACCTAACCCTAACCCTAACCCTAACCCCTA
ACCCTAACCCTAACCCTAACCCTAACCCCTAACCCTACCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACC
CTACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCCTAACCCTAACCCTAACCTAACCCTAACCCTA
ACCCTAACCTACCCCTAACCCTAACCCTAACCCTTTCCAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCT
AACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAA
CCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCT
AACCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCTAACC
