>CM168689.1 Homo sapiens isolate HG03065 chromosome 21, whole genome shotgun sequence
ACTTTAACTTTAACTTTAACTTTAACTTAAACTTTAAATTCTAAACCTTAACCTTTAACTTTAACTTTACCTTTAACCTT
TAACTTTAACTTTAACTTTAACTAACTAACCCACCTAACACCCCACAACAACCCTACCCCTAACCCTAACCCTAACACTA
ACCCTAACCCTAACCCTAACCCCTAACCCTAACCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTA
ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCCTAACCCTAACCCTAACCCTAACCCAACCCTAACC
TAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCCTAACCCCCTAACCCTAACCCTAACCCTAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCT
AACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTACCCTAACCCTAACCCTAACCCTAACCCTAAC
CCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCC
TAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCT
