>CM160642.1 Homo sapiens isolate HG03050 chromosome 21, whole genome shotgun sequence
TAACCCTAACCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTACCCTAACCCTAACCCTACACCCTA
ACCCTAACCCCTAACCCTAACCTACCTAACCCTAACCCCTAACCCCTAACCCCTAACCCTAACCCTAACCCTAACCTAAC
CCTAACCCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCTAACCCTAACCCTAACCCTAACC
CTAACCCTACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCT
AACCCTAACCCTAACCCTAACCCTAACCCTCAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTA
ACCCTACACCCTAACCCTAACCCTAACCCTAACCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTA
ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAC
CCTAACCCTAACCCTAACCCTAACCCAACCCTAACCCTAACCCTAACCCACCCTAACCCTAACCCTAACCCTAACCCTAA
CCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCCCCCTAACCCTAACCCTAACCCAACCCTAACCCTA
