>CM168668.1 Homo sapiens isolate HG03065 chromosome 21, whole genome shotgun sequence
AACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTAACCCTAACCCTAAC
CCTAACCTAACCCTAACCTAACCCTAACCCTAACCATAACTACCCTAACCCTACCCTAACCCTAAACCCTAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCAACCCTAACCCTAACCCTAACCCTAACCCTA
ACCCTAACCCTAACCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCTCTAACCCTAACCCTAAC
CCTAACCCTAACCCTAACCCTAACCGAACCCTAAACCTAACTCCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACC
CTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAAACCCTAACCCTACCTAACCCTA
ACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTACCCTAACCCTACAACCCTAACCCTAACCCTAA
CCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCACCCTA
ACCCTAACCCTAACCACCCTAACCCTAACCTAACCCTTACCCTAACCCTAACCCTAACCACCCTAACCCTAACCCTAACC
