>CM160664.1 Homo sapiens isolate HG02723 chromosome 21, whole genome shotgun sequence
CCCACCCCCTCCCCCCACCCCCCCACCCCACCCCCACACCCACCCCCACCCCCACCCCCACCCCCACCCCCCACCCCCAC
CCCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCACCCCCACCCCCACCCCCACCCCCACGCCCCACCCCCCA
CCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCCACCCCCACCCCCAC
CCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCAACCCCACCCCCACCCCACCCCCACCCCCACCCCCACCCC
CACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCCA
CCCCCACCCCCACCCCCACCCCACCCCCACCCCCACCCCACCCACCCCCACCCCCACCCACCCACCCCCACCCCCACCCC
CACCCCCACCCCCCACCCCCACCCCCACCCCCACCCCCACCCCCACCCCACCCCCACCCCCACCCCCCCACCCCCACCCC
CACCCCCAACCCCTCACCCACCACCCACCCCCACCCCCACCCCCACCCCCTCCCCCACCCCCCACCCCACCCCCACCACC
CCACCCCCACCCCCAACCCCCAACCCCCACCCCCACCCCCACCCCACCCCCACCCCCACCCCCAACCCCACACCCTCACC
