>CM155114.1 Homo sapiens isolate HG00128 chromosome 21, whole genome shotgun sequence
GTTTCCACGCGTTTACTTATATGTATTAATGTAAACGTTTCTGTACGCTTATATGCAAACAACGACAACGTGTATCTCTG
CATTGAATACTCTTGCGTATGGTAAATACGTATCGGTTGTATGGAAATAGACTTCTGTATGATAGATGTAGGTGTTTGTG
TTATACAAATAAATACACATCGCTCTATAAAGAAGGGATCGTCGATAAAGACGTTTATTTTACGTATGAAAAGCGTCGTA
TTTATGTGTGTAAATGAACGAGCGTACGTAGTTATCTCTGTTTTCTTTCTTCCTCTCCTTCGTGTTTTTCTTCCTTCCTT
TCTTCCTTTCTCTCCTTCTTTAGGTTTTTCTTCCTCTCTTCCTTTCCTTCTTTCTCTCTTTCTGTCCTTTTTTCCTTCGT
GCTTTATTTCTCTTTCGTTCCCTGTGTTTCCTTCTTTTTTCTTTCCTCTCTGTTTCTTTTTCCCTTCTTTCCTTCGTTTC
TTTCCTCATTCTTTCTCTCTTTTTCGTGTTTCTTTCCTTTCCGTCTGTCTTTTAAAAAATGGAGTGTTTCAGAAGTTTAC
TTTGTGTATCTACGTTTTCTAAATTGTCTCTCTTTTCTCCATTTTCTTCCTCCCTCCCTCCCTCCCTCCCTGCTCCCTTC
CCTCCCTCCTTCCCTTTCGCCATCTGTCTCTTTTCCCCACTCCCCTCCCCCCGTCTGTCTCTGCGTGGATTCCGGAAGAG
